<!--category-->
<div class="well">
    <h4><span class="glyphicon glyphicon-align-justify"></span>    博客目录</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
            {% for category in category_list %}
                <li class="cat-item"><span class="glyphicon glyphicon-chevron-right"></span><a
                        href="{% url 'app:category' category.pk %}">    {{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!--标签云-->
<div class="well">
    <h4><span class="glyphicon glyphicon-align-justify"></span>    标签云</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
            {% for tag in tag_list %}
                <li class="cat-item"><span class="glyphicon glyphicon-tag"></span><a
                        href="{% url 'app:tag' tag.pk %}">    {{ tag.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>