{% extends 'blog/base.html' %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <main class="col-md-8">
        <div id="post-1951"
             class="post-1951 post type-post status-publish format-standard hentry category-meida-report">
            <div class="post-hd">
                <h1 class="title">{{ article.title }}</h1>
            </div>
            <div class="date-read">
                <i class="icon-date"></i><span class="date">{{ article.last_modified_time|date:"Y年n月d日" }}</span>
            </div>
            <div class="post-bd">
                {{ article.body |safe }}
            </div>
        </div>
    </main>

</div>
{% endblock content %}