{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

    <div class="row">

        <!-- 博客页面实体 -->
        <div class="col-md-8">
            <!-- 博客正文实体 -->
            <h1 class="page-header">
                {% if cate_name %}
                    分类：{{ cate_name }}
                {% else %}
                    我的文章
                {% endif %}
            </h1>

            <!-- 博客正文 -->
            {% if article_list %}
                <div>
                    <!--{% load paginate_tags %}-->
                    <!--{% paginate article_list 10 %}-->
                    {% for article in article_list %}
                        <h2>
                            <a href="{% url 'app:detail' article.pk %}">{{ article.title }}</a>
                        </h2>
                        <p class="lead">
                            by Tom Ming</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> {{ article.created_time }}</p>
                    <!--    <hr>
                        <p>{{ article.body | safe | truncatewords:20}}</p>

                        <a class="btn btn-primary" href="{% url 'app:detail' article.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                        -->
                        <!--<span class="comments-link"><a href="{% url 'app:detail' article.pk%}" >{{ num_comments }} 评论</a></span>-->
                        <!--<span class="post-views"><a href="#">{{ article.views }} 阅读</a></span>-->
                        <hr>
                    {% endfor %}
                </div>
            {% else %}
                <h3>抱歉，无搜索内容</h3>
            {% endif %}
            <!--<div>-->
                <!--{% include 'blog/pagination.html' %}-->
            <!--</div>-->

        </div>

        <!-- 博客旁列 -->
        <div class="col-md-4">

            <!-- Blog Search Well -->

            <div class="well">
                <h4>Blog Search</h4>
                <form action="/search/" method="get">
                    <div class="input-group">
                        <input type="text" name="search_for" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </form>
                <!-- /.input-group -->
            </div>

            <!-- Blog Categories Well -->
            {% include "blog/category.html" %}

            <!-- Side Widget Well -->
            <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>

{% endblock content %}


